/**{*/
/*    margin:0;*/
/*    padding:0;*/
/*}*/

*{
    font-family: 'Open Sans', sans-serif;
}

p{
    text-align: left;
}
img{
    width: 100%;
    height: auto;
}

ul{
    list-style-type: disc;
}

.list-header{
    color: #89B2C4;
}